<!-- src/app/register/register.component.html -->

<div class="container">
    <h2>Register</h2>
    <form (ngSubmit)="register()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="user.username" name="username" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
      <p *ngIf="successMessage" class="text-success">{{ successMessage }}</p>
      <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
    </form>
    <div class="text-center mt-4">
      <a routerLink="/home" class="btn btn-secondary">Return to Home</a>
  </div>
  </div>
  