img {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.product-name {
  font-family: 'Poppins', sans-serif;
  color: #333;
  font-weight: 700;
  margin-bottom: 10px;
}

.fa-star, .fas.fa-star-half-alt {
  color: #ffd700;
  margin-right: 2px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.fa-star:hover, .fas.fa-star-half-alt:hover {
  color: #ffdf00;
  text-shadow: 0 0 10px #ffd700;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.quantity-btn.decrease-btn {
  background-color: #ff4d4d;
  color: white;
  border-color: #ff4d4d;
  transition: all 0.3s ease;
}

.quantity-btn.decrease-btn:hover {
  background-color: #ff1a1a;
  color: #fff;
  border-color: #ff1a1a;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
}


.quantity-btn.increase-btn {
  background-color: #28a745;
  color: white;
  border-color: #28a745;
  transition: all 0.3s ease;
}

.quantity-btn.increase-btn:hover {
  background-color: #218838;
  color: #fff;
  border-color: #218838;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.2);
}


.quantity-input {
  color: #333;
  font-weight: bold;
  border-color: #ced4da;
}

.quantity-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.btn-view-products {
  background-color: #EB2026; 
  color: #fff;
  border-color: #007bff;
}

.btn-view-products:hover {
  background-color: #b93237; 
  border-color: #004085;
}

.btn-view-feedbacks {
  background-color: #912078; 
  color: #fff;
  border-color: #28a745;
}

.btn-view-feedbacks:hover {
  background-color: #572139; 
  border-color: #1e7e34;
}

.stock-status {
  font-weight: bold;
  font-size: 1.2rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.stock-status:hover {
  transform: scale(1.1);
}

.text-success:hover {
  color: #28a745;
  text-shadow: 0 0 10px #28a745;
}

.text-danger:hover {
  color: #dc3545;
  text-shadow: 0 0 10px #dc3545;
}
