<!-- src/app/category-list/category-list.component.html -->
<div class="container">
  <h2 class="text-center mb-4">Category List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.categoryId }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-info" (click)="categoryDetails(category.categoryId)">Details</button>
            <button class="btn btn-primary" (click)="updateCategory(category.categoryId)">Update</button>
            <button class="btn btn-danger" (click)="deleteCategory(category.categoryId)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="text-center mt-4">
  <a routerLink="/create-category" class="btn btn-secondary">create category</a>
</div>
<div class="text-center mt-4">
  <a routerLink="/manage-products" class="btn btn-secondary">View All products</a>
</div>
