<body>
  <!-- header -->
  
  <!-- slider -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide">
        <img src="https://img.freepik.com/premium-photo/contemporary-living-room-with-stylish-sofa-modern-furniture-cozy-atmosphere-highlighted-by-natural-light-vibrant-yellow-accents_674594-65350.jpg?w=1060" alt="Home furniture">
        <div class="content">
          <h2>Home Furniture</h2>
         
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="swiper-slide">
        <img src="https://img.freepik.com/premium-photo/lounge-area-with-colorful-furniture-artwork-contemporary-interior-aigf_31965-490356.jpg?w=1060" alt="Office Furniture">
        <div class="content">
          <h2>Office Furniture</h2>
         
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="swiper-slide">
        <img src="https://img.freepik.com/premium-photo/3d-rendering-kids-play-room-interior-design-with-table-chairs-shelf-playthings-toys-3d-illustration_67155-15126.jpg?w=1060" alt="Kids Furniture">
        <div class="content">
          <h2>Kids Furniture</h2>
          
        </div>
      </div>
      <!-- Slide 4 -->
      <div class="swiper-slide">
        <img src="https://img.freepik.com/premium-photo/modern-kitchen-interior-design-with-blue-cabinets-orange-backsplash-3d-illustration_1233553-8693.jpg?w=1060" alt="Kitchen Furniture">
        <div class="content">
          <h2>Kitchen Furniture</h2>
          
        </div>
      </div>
      <!-- Slide 5 -->
      <div class="swiper-slide">
        <img src="https://t3.ftcdn.net/jpg/08/82/17/30/240_F_882173070_ioP5m19rRpp0kppUcJYPsKFKBhlbrZVU.jpg" alt="Essentials">
        <div class="content">
          <h2>mattresses</h2>
          
        </div>
      </div>
    </div>
    
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
    
    <!-- Navigation -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <script src="app.js"></script>
</body>
