.bg-image-login {
    background-image: url('https://img.freepik.com/premium-photo/gray-lamp-white-round-table-modern-living-room-interior-with-turquoise-armchair-beige-sofa_146105-30735.jpg?w=900');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 40px;
    border-radius: 10px;
}




.container > * {
    position: relative;
    z-index: 2;
}

.btn-primary {
    background-color: #D5006D; 
    border-color: #007bff; 
    transition: background-color 0.3s ease;
}


.btn-primary:hover {
    background-color: #d818a8; 
    border-color: #0056b3; 
}

.btn-link {
    background: none;
    border: none;
    color: #28a745; 
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
}

.btn-link:hover {
    color: #218838; 
}

.btn-secondary {
    background-color: #6c757d; 
    border-color: #6c757d; 
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #5a6268; 
    border-color: #545b62; 
}

.text-danger {
    font-weight: bold;
}
.animated-button {
    position: relative;
    overflow: hidden;
    background-color: #D5006D; 
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.4s ease, transform 0.2s ease;
  }
  
  .animated-button:hover {
    background-color: #007bff; 
    transform: translateY(-4px) scale(1.05);
  }
  
  .animated-button:focus {
    outline: none;
  }
  
  .animated-button i {
    margin-right: 5px; 
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animated-button:active {
    animation: pulse 0.5s ease; 
  }
  
  .btn-register {
    position: relative;
    overflow: hidden;
    background-color: #d818a8; 
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.4s ease, transform 0.2s ease;
  }
  
  .btn-register:hover {
    background-color: #007bff; 
    transform: translateY(-4px) scale(1.05);
  }
  
  .btn-register:focus {
    outline: none;
  }
  
  .btn-register i {
    margin-right: 5px; 
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .btn-register:active {
    animation: pulse 0.5s ease; 
  }
  